//fonts
$font-main: 'Raleway-c', sans-serif;
$font-accent: 'outfit-c', sans-serif;

//colors
$dark: #242B33;
$accent: #D4C17F;
$white: #fafafa;
$footer-bg: #2D343C;
$placeholder: #BEBEBE;
$muted: #E7E7E7;  

$index: calc(1vh + 1vw);
$color-header: #f4efec;
$color-text: #cdc6c3;
$gallery-gap: calc($index * 10);
